@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;700&display=swap');

a,
*::before,
*a::fter {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #252b42;
    font-weight: 500;
    font-family: Archivo;
}
/*--------------------------------------------*/
.wrapper{
    width: 1920px;
    margin: 0 auto;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
.header{
    display: inline-flex;
    padding: 69px 126px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.90);
}
.header-info{
    display: flex;
    width: 1595.791px;
    align-items: center;
    gap: 130px;
}
.nav{
   display: flex;
   width: 912.791px;
   align-items: center;
   gap: 150px;
   flex-shrink: 0;
}
.header-cart{
    display: flex;
    width: 553px;
    justify-content: flex-end;
    align-items: center;
    gap: 18px;
    flex-shrink: 0;
}
.logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo h3{
    color: #274C5B;
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
}
.nav li a{
    color: #274C5B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.search {
   width: 376px;
   display: flex;
   height: 66px;
   justify-content: space-between;
   align-items: center;
   border-radius: 36px;
}
.search input{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 36px;
    font-size: 28px;
    padding: 10px;
}
.cart{
    width: 159px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 33px;
    border: 1px solid #E0E0E0;
   display: flex;
   align-items: center;
   border:  1px solid black;
}

.cart span{
    color: #274C5B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/*---------------------------------------------*/
.content p{
    color: #68A47F;
    font-family: Yellowtail;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 50px;
    margin-right: 60px;
    position: absolute;
    z-index: 1;
    bottom: 60px;
    top: 35%;
    left: 770px;
    
}
.content h2{
    color: #274C5B;
    font-family: Roboto;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    z-index: 7;
    bottom: 550px;
    left: 770px;
    
}
.main-logo{
   margin-left: 16%;   
}
.inal{
    font-size: 45px;
    display: flex;
    position: absolute;
    margin-left: 42%;
    z-index: 3;
    top: 30%;
    color: #274C5B;
   
   
}
.Explore {
    display: flex;
    padding: 22px 70px;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    color: #274C5B;
    background: #EFD372;
    position: absolute;
    z-index: 7;
    bottom: 500px;
    left: 770px;
    border: #EFD372;
   
}
.content{
    display: flex;
    width: 530px;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;  
}

/*-----------------------------------------------------*/

.nura{
    color: #7EB693;
    font-family: Yellowtail;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.new-logo h2{
    color: #274C5B;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.simply{
    color: #525C60;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%; /* 29.772px */
}
.Modern{
    display: inline-flex;
}
.Agriculture{
    color: #274C5B;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 30px;
}
.life{
    padding-left: 70px;
}
.Explore1{
    display: flex;
    margin-left: 45%;
    padding: 29px 39px 29px 39px;
    border-radius: 16px;
    background: #274C5B;
    color: #E0E0E0;
}
/*---------------------------------------------*/
.Why{
    display: flex;
     margin-top: 270px;
     margin-left: 20%;
}
.market{
    color: #7EB693;
    font-family: Yellowtail;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Choose h2{
    color: #274C5B;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.had{
    color: #525C60;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%; /* 29.772px */
}
.Natural{
    display: flex;
    width: 400px;
    border-radius: 49px;
    background: #ECECEC;
     padding-left: 30px;
}
.lomer{
    color: #525C60;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%; /* 29.772px */
}
.nali{
    color: #274C5B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.text{
    margin-left: 60px;
    border-radius: 30px;
    margin-top: 60px;
}
/*-----------------------------------------------------------------*/
.Filling{
    display: flex;
    margin-left: 20%;
    margin-top: 100px;
    justify-content: space-between;
    margin-right: 35%;
}
.Filling h4{
    color: #274C5B;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.Filling img{
    display: flex;
    margin-left: 40px;
}
.Filling p{
    color: #525C60;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%; /* 29.772px */
}
.Team{
    margin-top: 200px;
}
.galley{
    color: #7EB693;
    font-family: Yellowtail;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40%;
}
.nol h2{
    color: #274C5B;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 34%;
}
.ever{
    color: #525C60;
     margin-left: 30%;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%; /* 29.772px */
}
.Bacardo{
    display: flex;
    justify-content: space-between;
    margin-left: 19%;
    margin-right: 30%;
    margin-top: 42px;
}
.Farmer h5{
    color: #274C5B;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.Farmer p{
    color: #7EB693;
    font-family: Yellowtail;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Farmer img{
    border-radius: 30px;
}
/*--------------------------------------------*/
.kintin{
    background-color: #274C5B;
    width: 1720px;
    height: 892px;
    flex-shrink: 0;
    margin-left: 18%;
    margin-top: 150px;
}
.Offer p{
    color: #7EB693;
    font-family: Yellowtail;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 750px;
    padding-top: 188px;

}
.Offer h2{
    color: #FFF;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 630px;
}
.Spicy{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
.Spicy img{
    border-radius: 30px;
}
.Spicy p{
     margin-left: 120px;
     color: #FFF;
     font-family: Roboto;
     font-size: 25px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
}
/*---------------------------------------------------------*/
.new-logo{
    display: flex;
    justify-content: space-between;
    margin-top: 106px;
    margin-left: 25%;
    margin-right: 28%;
}
.line{
    width: 1px;
    height: 336px;
    background: #D4D4D4;
}
.mean-contact h2{
    color: #274C5B;
    font-family: Roboto;
    font-size: 30px;
    text-align: right;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.mean-contact p{
    color: #525C60;
    text-align: right;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 165%; /* 29.7px */
}
.simply-dummy h2{
    color: #274C5B;
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    position: absolute;
    bottom: 50px;
    top: 402%;
    left: 45%;
}
.simply-dummy  p{
    color: #525C60;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%; /* 29.772px */
}
.Utility-Pages h2{
    color: #274C5B;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Utility-Pages p{
    color: #525C60;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 272.9%; /* 49.122px */
}
.naall{
    margin-top: 300px;
    margin-left: 25%;
}
.naall h1{
    color: #fff;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    position: absolute;
    bottom: 100px;
    top: 380%;
    left: 30%;
}
.naall input{
    width: 349px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    border: #fff;
    position: absolute;
    right: 40%;
    top: 384%;
    color: #ABABAB;
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.naall button{
    display: flex;
    width: 220px;
    padding: 28px 47px 29px 47px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #274C5B;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    right: 32%;
    top: 384%;
}
